:root {
	--maincolor: #0047ab;
	--secondcolor: #ffffff; 
}

/* ===============================================
   General styles
   ============================================== */

body { 
	font-family: Helvetica,Arial,sans-serif;
}

.headertext {
	padding: 3px;
	background-color: var(--maincolor);
}
.logoimage {
	height: 20px;
}
.navbar {
	background-color: #FFFFFF;
	border-color: rgba(127, 90, 5, 1);
	padding: 20px 0;
	border-bottom: 1px solid rgba(127, 90, 5, 1);
}
.navbar .nav > li > a {
color: #1B0B03;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
color: #1B0B03;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
color: #fff;
background-color: var(--maincolor);
border-radius: 15px 0px 15px 0px;
}
.col-md-4 {
	padding-bottom: 20px;
}
.row {
	margin-right: 0px;
	margin-left: -15px;
}

/* Titles */
h2 {
	font-size: 36px;
	color: var(--maincolor);
}

.centered {
	text-align: center;
}

/* Images */
.overflow-image {
	margin-top: -65px;
}
/* Links */
a {
	color: var(--maincolor);
	word-wrap: break-word;
	transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
	color: #c0392b;
	text-decoration: none;
	outline: 0;
}
a:before, a:after {
	transition: color 0.1s ease-in, background 0.1s ease-in;
} 
/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url(../images/info3.jpg) no-repeat center top;
	margin-top: -50px;
	padding-top: 120px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 850px;
	width: 100%;
	background-size: 100%;
	background-size: cover;
	padding-bottom: 100px;
}
#headerwrap h1 {
	color: #ffffff;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 3px;
}
#headerwrap p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
}
#headerwrap .icon {
	color: var(--maincolor);
	margin-top: 115px;
	padding-bottom: 30px;
	letter-spacing: 8px;
	font-size: 100px;
	font-weight: bold;
}
#headerwrap .btn {
	font-weight: 500;
	font-size: 20px;
	margin: 50px 0;
	background-color: var(--maincolor);
	color: #fff;
	border-radius: 5px;
	color: #000;
}
#headerwrap .btn:hover, #headerwrap .btn:focus {
	background-color:#fff;
	color:#000; 
	outline: 0px;
	border-radius: 5px;
}

.space {
	padding: 20px 0;
}
.headspace {
	padding: 80px 0;
}
.pr-10 {
	padding-right: 10px;
}
.colored {
	color: var(--maincolor);
}
.bgcolored {
	background-color: var(--maincolor);
}
.solidborder {
  border-style: solid;
  border-width: 1px;
}

.list-unstyled li {
	padding: 5px 0;
}

td, th {
	border: 1px solid #aaaaaa;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

#about {
	background: #FFF;
	padding: 100px 0;
}
#websiteservices {
	background: #FFFFFF;
	padding-top: 100px;
}
#mobileservices {
	background: #FFFFFF;
	padding: 100px 0;
}
.services .fa {
	color: var(--maincolor);
}
.services p {
	text-align: center;
}
.hero-section{
background-color: var(--maincolor);
padding:60px 0
}
.hero-section p {
color: #fff;
line-height: 30px;
margin: 0;
padding: 0;
font-size: 18px;
}
.reservation-btn{
background:#000;
border-radius:0px;
padding:12px 20px;
color:#fff;
}
.reservation-btn:hover{
color:#000;
background:#fff;
}

.isotope-container {
	overflow: hidden;
}
.isotope-item {
	margin-bottom: 20px;
}
.isotope-item .btn-default {
	color: #FFFFFF;
	background: rgba(34, 34, 34, 0.45);
	margin-top: -36px;
	z-index: 2;
	position: relative;
	border: 0;
	display: none;
}
.isotope-item .btn-default:hover {
	color: #ffffff;
}
@media (max-width:480px) {
	.filters .nav-pills > li {
		width: 100%;
		display: block;
	}

}

#portfolio {
	background: black;
	color: #fff;
	padding: 50px 0 20px 0;
}
#portfolio .btn-default {
	border: 0;
}
#contact {
	padding-bottom: 100px;
}

footer {
	background: #080808;
	padding: 25px 0 15px 0;
	border-bottom: 1px solid #ddd;
	text-align: center;
}
footer span.copyright {
	line-height: 40px;
	color: #888;
	font-weight: 400;
}
footer span.copyright a {
	color: #888;
	border-bottom: 1px dotted;
}
footer span.copyright a:hover {
	color: var(--maincolor);
	text-decoration: none;
}
footer h4 {
	color: white;
}
ul.social-buttons {
	margin: 0;
}
ul.social-buttons li {
	display:inline;
}
ul.social-buttons li a {
	font-size: 22px;
outline: 0;
color: #FFFFFF;
margin-right: 12px;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
	color: var(--maincolor);
} 


.div-pattern2{
background:var(--maincolor) url('../images/div-pattern-reversecircle.png') top left repeat-x;
height:30px;
width:100%;
display:block;
}
.div-pattern{
background:var(--maincolor) url('../images/div-pattern-reversetriangle.png') top left repeat-x;
height:30px;
width:100%;
display:block;
}
/* ==========================================
   MEDIA QUERIES
   ======================================== */
@media screen and (max-width:1050px), screen and (max-device-width:1050px) {
body .header {
	background-attachment: scroll;
}
}

@media only screen and (min-device-width:768px) and (max-device-width : 1024px) and (orientation : portrait) {
.header {
	background-attachment: scroll;
}
}

@media screen and (max-width:769px) {
	
	.navbar .nav{
		margin-top: 10px;
	}
#headerwrap h1 {
	font-size: 80px;
}
#headerwrap p {
	font-size: 30px;
	line-height: 38px;
}
}
@media screen and (max-width:480px) {
	
	.navbar .nav{
		margin-top: 10px;
	}
#headerwrap h1 {
font-size: 34px;
}
#headerwrap p {
margin-top:30px;
font-size: 20px;
}
#team img{
margin-top:30px;
}
}